<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <title>Hello Amaze UI</title>

  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">

  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

  <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/i/favicon.png') }}">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="{{ url_for('static', filename='assets/i/app-icon72x72@2x.png') }}">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='assets/i/app-icon72x72@2x.png') }}">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="{{ url_for('static', filename='assets/i/app-icon72x72@2x.png') }}">
  <meta name="msapplication-TileColor" content="#0e90d2">

  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/amazeui.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/app.css') }}">
</head>
<body>
  <header data-am-widget="header"
          class="am-header am-header-default">
      <div class="am-header-right am-header-nav">
          <a href="#left-link" class="">

                <i class="am-header-icon am-icon-home"></i>
          </a>
      </div>

      <h1 class="am-header-title">
          <a href="#title-link" class="">
            Amaze UI
          </a>
      </h1>

      
  </header>

    <nav data-am-widget="menu" class="am-menu  am-menu-dropdown1"  
     data-am-menu-collapse > 
    <a href="javascript: void(0)" class="am-menu-toggle" style="left:0px">
          <i class="am-menu-toggle-icon am-icon-list"></i>
    </a>

<!--
      <ul class="am-menu-nav am-avg-sm-1 am-collapse">
          <li class="am-parent">
            <a href="##" class="" >公司</a>
              <ul class="am-menu-sub am-collapse  am-avg-sm-2 ">
                  <li class="">
                    <a href="##" class="" >公司</a>
                  </li>
                  <li class="">
                    <a href="##" class="" >人物</a>
                  </li>
                  <li class="">
                    <a href="##" class="" >趋势</a>
                  </li>
                  <li class="">
                    <a href="##" class="" >投融资</a>
                  </li>
                  <li class="">
                    <a href="##" class="" >创业公司</a>
                  </li>
                  <li class="">
                    <a href="##" class="" >创业人物</a>
                  </li>
                  <li class="am-menu-nav-channel"><a href="##" class="" title="公司">进入栏目 &raquo;</a></li>
              </ul>
          </li>
          <li class="am-parent">
            <a href="##" class="" >人物</a>
              <ul class="am-menu-sub am-collapse  am-avg-sm-3 ">
                  <li class="">
                    <a href="##" class="" >公司</a>
                  </li>
                  <li class="">
                    <a href="##" class="" >人物</a>
                  </li>
                  <li class="">
                    <a href="##" class="" >趋势</a>
                  </li>
                  <li class="">
                    <a href="##" class="" >投融资</a>
                  </li>
                  <li class="">
                    <a href="##" class="" >创业公司</a>
                  </li>
                  <li class="">
                    <a href="##" class="" >创业人物</a>
                  </li>
              </ul>
          </li>
          <li class="am-parent">
            <a href="#c3" class="" >趋势</a>
              <ul class="am-menu-sub am-collapse  am-avg-sm-4 ">
                  <li class="">
                    <a href="##" class="" >公司</a>
                  </li>
                  <li class="">
                    <a href="##" class="" >人物</a>
                  </li>
                  <li class="">
                    <a href="##" class="" >趋势</a>
                  </li>
                  <li class="">
                    <a href="##" class="" >投融资</a>
                  </li>
                  <li class="">
                    <a href="##" class="" >创业公司</a>
                  </li>
                  <li class="">
                    <a href="##" class="" >创业人物</a>
                  </li>
                  <li class="am-menu-nav-channel"><a href="#c3" class="" title="趋势">泥煤 &raquo;</a></li>
              </ul>
          </li>
          <li class="am-parent">
            <a href="##" class="" >投融资</a>
              <ul class="am-menu-sub am-collapse  am-avg-sm-3 ">
                  <li class="">
                    <a href="##" class="" >公司</a>
                  </li>
                  <li class="">
                    <a href="##" class="" >人物</a>
                  </li>
                  <li class="">
                    <a href="##" class="" >趋势</a>
                  </li>
                  <li class="">
                    <a href="##" class="" >投融资</a>
                  </li>
                  <li class="">
                    <a href="##" class="" >创业公司</a>
                  </li>
                  <li class="">
                    <a href="##" class="" >创业人物</a>
                  </li>
              </ul>
          </li>
          <li class="">
            <a href="##" class="" >创业公司</a>
          </li>
          <li class="">
            <a href="##" class="" >创业人物</a>
          </li>
      </ul>
-->
  </nav>


  


<!--在这里编写你的代码-->
{% block body %}{% endblock %}

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
<!--<![endif]-->
<script src="{{ url_for('static', filename='assets/js/amazeui.min.js') }}"></script>
</body>
</html>