{% extends "layout.html" %}
{% block body %}
<form class="am-form" action="/login" method="post">
  <fieldset>
    <legend>请先登录</legend>

    <div class="am-form-group">
      <label for="doc-ipt-email-1">邮箱</label>
      <input type="email" class="am-form-field am-radius" name="email" id="doc-ipt-email-1" placeholder="">
    </div>

    <div class="am-form-group">
      <label for="doc-ipt-pwd-1">密码</label>
      <input type="password" class="am-form-field am-radius" name="password" id="doc-ipt-pwd-1" placeholder="">
    </div>
	   <p>
      <button type="submit" class="am-btn am-btn-primary">登录</button>
      <a class="am-btn am-btn-success" href="/register" role="button">
        <i class="am-icon-plus"></i>
        注册一个账户
      </a>
    </p>
  </fieldset>
</form>
{% endblock %}