{% extends "layout.html" %}
{% block body %}
<form action="" class="am-form am-form-horizontal">
<div class="am-form-group">
	<div class="am-u-sm-6" style="text-align: right;">
		<label><input type="radio" name="inOut" value="OUT" checked="checked">&nbsp;&nbsp;支出</label>
	</div>
	<div class="am-u-sm-6" style="text-align: left;">
		<label><input type="radio" name="inOut" value="IN">&nbsp;&nbsp;收入</label>
	</div>
</div>

<div class="am-form-group">
	<label class="am-u-sm-3 am-form-label">金额</label>
	<div class="am-u-sm-9" style="text-align: right;">
		<input type="number" name="amount" class="am-form-field" placeholder="输入金额" required />
	</div>
</div>

<div class="am-form-group">
	<label for="doc-ipt-3-a" class="am-u-sm-3 am-form-label">账本</label>
	<div class="am-u-sm-9">
	      <select id="doc-select-1">
  			{% if books %}
			    {% for book in books %}
			      <option value="{{book.id}}">{{book.bookName}}</option>
			    {% endfor %}
		  	{% endif %}
	      </select>
	      <span class="am-form-caret"></span>
	</div>
</div>

{% if tagListGroup %}
    {% for tagEntity in tagListGroup %}
      <div class="am-form-group">
		<label for="doc-ipt-3-a" class="am-u-sm-3 am-form-label">{{tagEntity.tagType.description}}</label>
		<div class="am-u-sm-9">
		      <select id="doc-select-1">
		        {% for tag in tagEntity.tagList %}
		        	<option value="{{tag.id}}">{{tag.tagName}}</option>
		        {% endfor %}
		      </select>
		      <span class="am-form-caret"></span>
		</div>
	</div>
    {% endfor %}
{% endif %}


<div class="am-form-group am-form-icon">
	<i class="am-icon-calendar"></i>
    <input type="text" class="am-form-field" id="billingDate" value="{{currentDate}}" data-am-datepicker readonly required>
</div>

<div class="am-form-group">
	<input type="text" class="am-form-field am-radius" id="comments" placeholder="备注" />
</div>
<div class="am-form-group">
	<div class="am-u-sm-10 am-u-sm-offset-4">
      <button type="submit" class="am-btn am-btn-primary">保存</button>
    </div>
</div>

</form>
{% endblock %}